:root {
  --md-primary-fg-color: #505050;
  --md-primary-bg-color: #ff6600;
  
  --md-accent-fg-color: #ff6600;
  --md-footer-fg-color: #fff;
  --md-footer-bg-color: #000;
  --md-code-fg-color: #ff9600;
  --md-typeset-color: #fff;
  --md-code-hl-generic-color: #fff;
  --md-typeset-a-color: #fff;
  --md-typeset-color: #fff;
  --md-default-fg-color--light: #000;
  --md-default-fg-color--lighter: #f00;
}
